body {
  margin: 0px 10px;
}

h1 {
  margin-bottom: 10px;
}

#board {
  margin: 20px;
  padding: 5px;
  width: 455px;
  background-color: black;
}

.row {
}

#board span {
  text-align: center;
  display: inline-block;
  font-size: 80px;
  padding: 20px;
  width: 100px;
  height: 100px;
  border: solid 4px;
  background: white;
}

#scoreboard {
  font-size: 20px;
}

.description {
  font-weight: bold;
}
