<div id="board">
  <div class="row">
    <span ng-click="clickCell('TL')">{{board['TL'].spot}}</span>
    <span ng-click="clickCell('TM')">{{board['TM'].spot}}</span>
    <span ng-click="clickCell('TR')">{{board['TR'].spot}}</span>
  </div>
  <div class="row">
    <span ng-click="clickCell('ML')">{{board['ML'].spot}}</span>
    <span ng-click="clickCell('MM')">{{board['MM'].spot}}</span>
    <span ng-click="clickCell('MR')">{{board['MR'].spot}}</span>
  </div>
  <div class="row">
    <span ng-click="clickCell('BL')">{{board['BL'].spot}}</span>
    <span ng-click="clickCell('BM')">{{board['BM'].spot}}</span>
    <span ng-click="clickCell('BR')">{{board['BR'].spot}}</span>
  </div>
</div>